!!! 5
%html
  %head
    %title RateCity Mortgage Calculator Widget
    %meta{charset: "utf-8"}
    %meta{http-equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
    %link{rel: "stylesheet", href: "css/bootstrap.css"}
    %link{rel: "stylesheet", href: "css/calculator.css"}
    %link{rel: "stylesheet", href: "css/awesome-bootstrap-checkbox.css"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{src: "js/iframeResizer.contentWindow.min.js"}

    .container
      .calculator-container
        .row
          .col-sm-12
            .section-heading
              .icons-disc
                .fa.fa-calculator
              %h1
                Mortgage Repayment Calculator

            %form.form-horizontal.mortgage-form
              %fieldset

                .row.row-mb.reason-holder
                  .col-xs-12
                    .section-heading
                      %h4
                        .fa.fa-user
                        Your Details
                  .col-sm-6.col-xs-12
                    %label.control-label{for: "mortgageReason"} I am
                    %select#mortgageReason.form-control
                      %option Select a reason
                      %option Buying a property
                      %option Refinancing
                  .col-sm-6.col-xs-12
                    .refinancing-holder.collapse.fade
                      %label.control-label{for: "goingToRF"} I am going to
                      %select#goingToRF.form-control
                        %option Live in the property
                        %option Rent the property
                .row.row-mb
                  .col-sm-4.col-xs-12.visible-xs
                    .iam-form-errors
                  .col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2
                    %a#iam-results-button.btn.btn-primary.btn-lg.btn-block{role: "button", aria-controls: "your-results"}
                      Calculate Now
                  .col-sm-4.col-xs-12.hidden-xs
                    .iam-form-errors

                .refinancing-holder.collapse.fade
                  .row
                    .col-sm-12
                      .section-heading
                        %h4
                          .fa.fa-dollar
                          Loan Details
                  .form-group
                    .col-sm-3.col-xs-6
                      %label.control-label{for: "interestRateRF"} Interest Rate
                      .input-group
                        %input#interestRateRF.form-control{type: "number", step: "0.1", min: "0"}
                        %span.input-group-addon %
                    .col-sm-3.col-xs-6
                      %label.control-label{for: "loanPeriodRF"} Loan Period
                      .input-group
                        %input#loanPeriodRF.form-control{type: "number", step: "1", min: "0"}
                        %span.input-group-addon years
                    .col-sm-6.col-xs-12
                      %label.control-label{for: "loanStructureRF"} Loan Structure
                      %select#loanStructureRF.form-control
                        %option Principal & interest
                        %option Interest only
                    .col-sm-6.col-xs-12
                      %label.control-label{for: "borrowAmountRF"} I want to borrow
                      .input-group.chart-data
                        %span.input-group-addon $
                        %input#borrowAmountRF.form-control{type: "number", step: "10000", pattern: "^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$", required: true, min: "0"}
                    .col-sm-6
                      .alert.alert-info.rf-io-notice.collapse
                        Our apologies, interest only is not currently supported.
                  .row.row-mb
                    .col-sm-4.col-xs-12.visible-xs
                      .rf-form-errors
                    .col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2
                      %a#refinancing-results-button.btn.btn-primary.btn-lg.btn-block{role: "button", aria-controls: "your-results"}
                        .spinner
                          %i.fa.fa-gear.fa-spin
                        &nbsp;Calculate Now
                    .col-sm-4.col-xs-12.hidden-xs
                      .rf-form-errors

                .homebuyer-holder.collapse.fade
                  .form-group
                    .col-xs-6
                      %label.control-label{for: "initialSum"}
                        .hidden-xs
                          I have an initial sum of
                        .visible-xs
                          My initial sum is
                      .input-group.chart-data
                        %span.input-group-addon $
                        %input#initialSum.form-control{type: "number", step: "10000", min: "0"}
                    .col-xs-6
                      %label.control-label{for: "goingTo"} I am going to
                      %select#goingTo.form-control
                        %option{data-value: "residential_purpose"} Live in the property
                        %option{data-value: "investment_purpose"} Rent the property
                  .form-group
                    .col-xs-12
                      .checkbox.checkbox-primary
                        %input#firstHomeBuyer{type: "checkbox", name: "firstHomeBuyer", value: "firstHomeBuyer"}
                        %label{for: "firstHomeBuyer"}
                          I am a first home buyer
                  .row
                    .col-sm-12
                      .section-heading
                        %h4
                          .fa.fa-home
                          Property Details
                  .form-group.fg-nm
                    .col-sm-6.col-xs-12
                      %label.control-label{for: "State"} State
                      %select#State.form-control
                        %option New South Wales
                        %option Queensland
                        %option Victoria
                        %option South Australia
                        %option Western Australia
                        %option Northern Territories
                        %option Tasmania
                    .col-xs-6
                      %label.control-label{for: "propertyType"} Property Type
                      %select#propertyType.form-control
                        %option Existing property
                        %option Off the plan / Newly contructed
                        %option Land only
                    .col-xs-6
                      %label.control-label{for: "propertyValue"} Property Value
                      .input-group.chart-data
                        %span.input-group-addon $
                        %input#propertyValue.form-control{type: "number", step: "10000", pattern: "^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$", required: true, min: "0"}
                    .col-xs-6
                      .alert.alert-info.rf-io-notice.collapse
                        Our apologies, interest only is not currently supported.
                    -# Maybe for 1.1
                      .col-xs-6.lvr-display.collapse.fade
                        %label &nbsp;
                        %span.input-group
                          Your <abbr data-toggle="tooltip" data-placement="top" title="Loan to Valuation Ratio">LVR</abbr> is <span class="lvr-value"></span>%
                    .col-xs-12.borrow-extra-col.collapse
                      %a.borrow-extra-trigger{role: "button", data-toggle: "collapse", data-target: ".borrow-extra", aria-controls: "borrow-extra"}
                        .alert.alert-info
                          %span.fa.fa-info-circle
                          %span &nbsp; You will need to borrow approximately $<span id="borrow-total"></span>. Why?
                          %span.fa.fa-angle-down.pull-right
                    .col-xs-12.borrow-extra.collapse
                      %div
                        #borrow-chart{style: "height: 215px;"}
                        .row
                          .col-xs-12
                            %a.term-meanings-trigger{role: "button", data-toggle: "collapse", data-target: ".term-meanings", aria-controls: "borrow-extra"}
                              .alert.alert-default
                                %span.fa.fa-info-circle
                                %span
                                  %strong &nbsp; What are these costs?
                                %span.fa.fa-angle-down.pull-right
                            .col-xs-12.term-meanings.collapse
                              %div
                                %p
                                  <strong>Property</strong> is the amount you will need to borrow to cover the cost of the property that you wish to purchase.
                                %p
                                  <strong>Stamp duty</strong> is a tax on written documents. It is imposed by state and territory governments. It can vary depending on the state or territory.
                                %p
                                  <strong>Random costs</strong> include things such as lawyers, hiring movers and other miscellaneous costs that may incur.
                                %p
                                  Lender's <strong>Mortgage Insurance</strong> (LMI) is generally charged to all borrowers with an Loan to Value Ratio (LVR) over 80%. This is also known as having less than 20% deposit or equity. Don't forget - it protects the lender, not the borrower so if things go south, you'll still need to repay the loan.
                  .row
                    .col-sm-12
                      .section-heading
                        %h4
                          .fa.fa-dollar
                          Loan Details
                  .form-group
                    .col-sm-3.col-xs-6
                      %label.control-label{for: "interestRate"} Interest Rate
                      .input-group
                        %input#interestRate.form-control{type: "number", step: "0.1", min: "0"}
                        %span.input-group-addon %
                    .col-sm-3.col-xs-6
                      %label.control-label{for: "loanPeriod"} Loan Period
                      .input-group
                        %input#loanPeriod.form-control{type: "number", step: "1", min: "0"}
                        %span.input-group-addon years
                    .col-sm-6.col-xs-12
                      %label.control-label{for: "loanStructure"} Loan Structure
                      %select#loanStructure.form-control
                        %option Principal & interest
                        %option Interest only

                  .row.row-mb
                    .col-sm-4.col-xs-12.visible-xs
                      .hb-form-errors
                    .col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2
                      %a#homebuyer-results-button.btn.btn-primary.btn-lg.btn-block{role: "button", aria-controls: "your-results"}
                        .spinner
                          %i.fa.fa-gear.fa-spin
                        &nbsp;Calculate Now
                    .col-sm-4.col-xs-12.hidden-xs
                      .hb-form-errors

                #your-results.collapse
                  .row.row-mb
                    .col-sm-12
                      %hr
                      .section-heading
                        .icons-disc
                          .fa.fa-refresh
                        %h2
                          Monthly repayments
                      .text-big
                        Based on the interest rate of <span id="interest-rate"></span><span id="interest-rateRF"></span>% and other details you provided, your monthly repayments are&nbsp;
                        %span.styled-value
                  .row
                    .col-sm-12
                      .chart-holder{style: "max-width:100%;"}
                        #rate-chart{style: "height: 300px;"}

                  .row.row-5ths.row-mb
                    .col-xs-5ths{data-offer: "0"}
                    .col-xs-5ths{data-offer: "1"}
                    .col-xs-5ths{data-offer: "2"}
                    .col-xs-5ths{data-offer: "3"}
                    .col-xs-5ths{data-offer: "4"}

                  .row.row-5ths.graph-tabs
                    .col-xs-5ths.text-center
                        %li.graph-tab{role: "presentation"}
                          %a{href: "#", data-graph: "0", data-toggle: "tab", href: "#graph-0", aria-controls: "graph-0"}
                            %i.fa.fa-area-chart
                            %br
                            Graph
                    .col-xs-5ths.text-center
                        %li.graph-tab{role: "presentation"}
                          %a{href: "#", data-graph: "1", data-toggle: "tab", href: "#graph-1", aria-controls: "graph-1"}
                            %i.fa.fa-area-chart
                            %br
                            Graph
                    .col-xs-5ths.text-center
                        %li.graph-tab{role: "presentation"}
                          %a{href: "#", data-graph: "2", data-toggle: "tab", href: "#graph-2", aria-controls: "graph-2"}
                            %i.fa.fa-area-chart
                            %br
                            Graph
                    .col-xs-5ths.text-center
                        %li.graph-tab{role: "presentation", class: "active"}
                          %a{href: "#", data-graph: "3", data-toggle: "tab", href: "#graph-3", aria-controls: "graph-3"}
                            %i.fa.fa-area-chart
                            %br
                            Graph
                    .col-xs-5ths.text-center
                        %li.graph-tab{role: "presentation"}
                          %a{href: "#", data-graph: "4", data-toggle: "tab", href: "#graph-4", aria-controls: "graph-4"}
                            %i.fa.fa-area-chart
                            %br
                            Graph

                  .row.row-mb
                    .col-sm-12
                      .tab-content
                        #graph-0.tab-pane.in{role: "tabpanel"}
                          .repayment-chart{style: "height: 300px;"}
                        #graph-1.tab-pane.in{role: "tabpanel"}
                          .repayment-chart{style: "height: 300px;"}
                        #graph-2.tab-pane.in{role: "tabpanel"}
                          .repayment-chart{style: "height: 300px;"}
                        #graph-3.tab-pane.in.active{role: "tabpanel"}
                          .repayment-chart{style: "height: 300px;"}
                        #graph-4.tab-pane.in{role: "tabpanel"}
                          .repayment-chart{style: "height: 300px;"}


        .row
          .col-xs-6.fine-print
            %small
              %a{tabindex: "0", role: "button", data-toggle: "modal", data-target: "#disclaimer-modal"}
                Disclaimer
            %small
              %a{tabindex: "0", role: "button", data-toggle: "popover", data-trigger: "focus", data-placement: "top", title: "Our assumptions", data-content: "Repayments and graphs based on today's rates. Rates will change throughout the life of the loan."} Assumptions

    #disclaimer-modal.modal.fade{aria-labelledby: "disclaimer-label", role: "dialog", tabindex: "-1"}
      .modal-dialog{role: "document"}
        .modal-content
          .modal-header
            %button.close{aria-label: "Close", data-dismiss: "modal", type: "button"}
              %span{aria-hidden: "true"} ×
            %h4#disclaimer-label.modal-title Disclaimer
          .modal-body
            This is an information service. By browsing on the website and/or using our search tools, you are asking RateCity to provide you with information about products from multiple financial institutions. We will try to show you a range of products in response to your request for information. Offers selected from a range of home loan products in the RateCity database. The results do not include all providers and may not compare all features relevant to you, for further details refer to our <a href="http://www.ratecity.com.au/fscg">FSCG</a>. We not a credit provider, and in giving you product information we are not making any suggestion or recommendation to you about a particular credit product. If you decide to apply for a product, you will deal directly with a financial institution, and not with RateCity. Rates and product information should be confirmed with the relevant financial institution, and you should review the PDS before you decide to purchase. See our terms of use for further details. All numbers are estimates. Check exact details of offers before applying for a loan. This advice is general and has not taken into account your objectives, financial situation or needs. Consider whether this advice is right for you.
          .modal-footer
            %button.btn.btn-primary{data-dismiss: "modal", type: "button"} Close

#lowerOffer{style: "display: none;", data-url: "https://raw.githubusercontent.com/ratecity/mortgage-calculator/gh-pages/img/bestoffer.png"}
#yourOffer{style: "display: none;", data-url: "https://raw.githubusercontent.com/ratecity/mortgage-calculator/gh-pages/img/youroffer.png"}

    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{src: "js/borrow-calculator.js"}
    %script{src: "js/rate-chart.js"}
    %script{src: "js/repayment-calculator.js"}
    %script{src: "js/calculator.js"}
    %script{src: "js/happy.js"}
    %script{src: "http://code.highcharts.com/highcharts.js"}
    %script{src: "http://fast.fonts.net/jsapi/12325033-2c58-4617-8cfd-a71d853a987f.js"}
