!!! 5
%html
  %head
    %title RateCity Mortgage Calculator Widget
    %meta{charset: "utf-8"}
    %meta{http-equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    -#%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "css/application.css"}
    %link{rel: "stylesheet", href: "css/calculator.css"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

  %body
    .container{style: "margin-top: 15px;"}
      .row
        .col-sm-12
          .well
            .row
              .col-xs-4
                %a.btn.btn-default.btn-block{data-toggle: "tab", href: "#mortgage-calculator", style: "margin-bottom: 5px;"}
                  Mortgage
                  %span.hidden-xs &nbsp;Calculator
              .col-xs-4
                %a.btn.btn-default.btn-block{data-toggle: "tab", href: "#calculator-2", style: "margin-bottom: 5px;"}
                  Second
                  %span.hidden-xs &nbsp;Calculator
              .col-xs-4
                %a.btn.btn-default.btn-block{data-toggle: "tab", href: "#calculator-3", style: "margin-bottom: 5px;"}
                  Third
                  %span.hidden-xs &nbsp;Calculator
            .tab-content
              #mortgage-calculator.tab-pane.active
                .row
                  .col-sm-12
                    %legend Mortgage Calculator
                %form.form-horizontal
                  %fieldset
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "iAmAn"} I am an
                        %select#iAmAn.form-control
                          %option Owner/Occupier
                          %option Investor
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "borrowAmount"} Amount to borrow
                        .input-group
                          %span.input-group-addon $
                          %input#borrowAmount.form-control{type: "number", placeholder: 200000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "homePrice"} Property Value
                        .input-group
                          %span.input-group-addon $
                          %input#homePrice.form-control{type: "number", placeholder: 500000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "timeToRepay"} Loan Period
                        .input-group
                          %input#timeToRepay.form-control{type: "number", placeholder: 10, step: "1"}
                          %span.input-group-addon years
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "interestRate"} Interest Rate
                        .input-group
                          %input#interestRate.form-control{type: "number", placeholder: 4.5, step: "0.1"}
                          %span.input-group-addon %
                      .col-sm-4
                        %label.control-label{for: "paymentFrequency"} Payment Frequency
                        %select#paymentFrequency.form-control
                          %option Weekly
                          %option Fortnightly
                          %option Monthly
                      .col-sm-4
                        %label.control-label{for: "repaymentType"} Repayment Type
                        %select#repaymentType.form-control
                          %option Principal & interest
                          %option Interest only
                    #advanced-options.collapse
                      %hr
                      .form-group
                        .col-sm-4
                          %label.control-label{for: "extraPayments"} Extra Payments
                          .input-group
                            %span.input-group-addon $
                            %input#extraPayments.form-control{type: "number", placeholder: 100, step: "10"}
                        .col-sm-4
                          %label.control-label{for: "initialPayments"} Initial mn Repayments
                          .input-group
                            %span.input-group-addon $
                            %input#initialPayments.form-control{type: "number", placeholder: 1000, step: "100"}
                        .col-sm-4
                          %label.control-label{for: "loanType"} Loan Type
                          %select#loanType.form-control
                            %option Variable
                            %option Fixed
                            %option Introductory
                      #intro-loan.collapse
                        .form-group
                          .col-sm-4.col-sm-offset-4
                            %label.control-label{for: "introRate"} Intro Rate
                            .input-group
                              %input#introRate.form-control{type: "number", placeholder: 3.5, step: "0.1"}
                              %span.input-group-addon %
                          .col-sm-4
                            %label.control-label{for: "introTerm"} Intro Term
                            .input-group
                              %input#introTerm.form-control{type: "number", placeholder: 24, step: "1"}
                              %span.input-group-addon months
                    .row
                      .col-sm-4.col-xs-6
                        %a#results-button.btn.btn-primary.btn-block{role: "button", aria-controls: "your-results"}
                          %span.fa.fa-calculator
                          Calculate
                      .col-sm-4.col-sm-offset-4.col-xs-6
                        %a.btn.btn-default.btn-block{role: "button", data-toggle: "collapse", data-target: "#advanced-options", aria-controls: "advanced-options"}
                          %span.fa.fa-gear
                          Advanced
                          %span.hidden-xs &nbsp;Options
                    #your-results.collapse
                      .row.row-mb
                        .col-sm-12
                          %legend Your results
                        .col-sm-4
                          %strong
                            Repayment amount:
                            %br
                            %span.amount $0,000
                        .col-sm-4
                          %strong
                            Total amount payable:
                            %br
                            %span.amount $000,000
                        .col-sm-4
                          %strong
                            Total interest payable:
                            %br
                            %span.amount $000,000
                      .row
                        .col-sm-12
                          .chart-holder{style: "max-width:558px;"}
                            #chart{style: "height: 350px;"}
                      .row.row-mb
                        .col-sm-12
                          %legend Home loans matching your criteria
                          %table.table.table-condensed.table-striped.table-bordered.table-rate.credit-card-table
                            %tbody
                              %tr.hidden-xs
                                %th Company
                                %th Product
                                %th Advertised Rate
                                %th Comparison Rate
                                %th Monthly repayment
                                %th{data-toggle: "tooltip", title: "Lorem ipsum dolor sit amet.", data-placement: "left"} Go to Site
                              %tr
                                %td.xs-show-3
                                  %img{src: "http://placehold.it/88x31"}
                                %td.product-name.xs-show-9
                                  %a{href: "#"} Home Loan Offer
                                %td.xs-show-4
                                  %strong 3.99%
                                  %br
                                  %span Variable
                                %td.xs-show-4
                                  %strong 3.99%
                                %td.xs-show-4
                                  %strong $0,000
                                %td.xs-show-12
                                  %a.btn.btn-primary.btn-sm Go to Site
                              %tr
                                %td.xs-show-3
                                  %img{src: "http://placehold.it/88x31"}
                                %td.product-name.xs-show-9
                                  %a{href: "#"} Home Loan Offer
                                %td.xs-show-4
                                  %strong 3.99%
                                  %br
                                  %span Variable
                                %td.xs-show-4
                                  %strong 3.99%
                                %td.xs-show-4
                                  %strong $0,000
                                %td.xs-show-12
                                  %a.btn.btn-primary.btn-sm Go to Site
                              %tr
                                %td.xs-show-3
                                  %img{src: "http://placehold.it/88x31"}
                                %td.product-name.xs-show-9
                                  %a{href: "#"} Home Loan Offer
                                %td.xs-show-4
                                  %strong 3.99%
                                  %br
                                  %span Variable
                                %td.xs-show-4
                                  %strong 3.99%
                                %td.xs-show-4
                                  %strong $0,000
                                %td.xs-show-12
                                  %a.btn.btn-primary.btn-sm Go to Site
                              %tr
                                %td.xs-show-3
                                  %img{src: "http://placehold.it/88x31"}
                                %td.product-name.xs-show-9
                                  %a{href: "#"} Home Loan Offer
                                %td.xs-show-4
                                  %strong 3.99%
                                  %br
                                  %span Variable
                                %td.xs-show-4
                                  %strong 3.99%
                                %td.xs-show-4
                                  %strong $0,000
                                %td.xs-show-12
                                  %a.btn.btn-primary.btn-sm Go to Site
                              %tr
                                %td.xs-show-3
                                  %img{src: "http://placehold.it/88x31"}
                                %td.product-name.xs-show-9
                                  %a{href: "#"} Home Loan Offer
                                %td.xs-show-4
                                  %strong 3.99%
                                  %br
                                  %span Variable
                                %td.xs-show-4
                                  %strong 3.99%
                                %td.xs-show-4
                                  %strong $0,000
                                %td.xs-show-12
                                  %a.btn.btn-primary.btn-sm Go to Site

                      .row
                        .col-sm-12
                          %a.btn.btn-default.btn-block{role: "button", data-toggle: "collapse", data-target: "#amort-table", aria-controls: "amortisation-table", style: "margin-bottom: 12px;"}
                            %span.fa.fa-table
                            View amortisation table
                      #amort-table.collapse
                        .row
                          .col-sm-12
                            %table.table.table-condensed.table-striped.table-bordered.table-amort
                              %tbody
                                %tr
                                  %th Years
                                  %th Interest p/a
                                  %th Principal
                                  %th Owing
                                %tr
                                  %td 0
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 1
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 2
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 3
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 4
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 5
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 6
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 7
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 8
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 9
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000
                                %tr
                                  %td 10
                                  %td $00,000
                                  %td $000,000
                                  %td $000,000

              #calculator-2.tab-pane.fade
                .row
                  .col-sm-12
                    %legend Second Calculator
                    %p
                      %strong Note: This calculator is a placeholder.
                %form.form-horizontal
                  %fieldset
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "iAmAn"} I am an
                        %select#iAmAn.form-control
                          %option Owner/Occupier
                          %option Investor
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "borrowAmount"} Amount to borrow
                        .input-group
                          %span.input-group-addon $
                          %input#borrowAmount.form-control{type: "number", placeholder: 200000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "homePrice"} Home Price
                        .input-group
                          %span.input-group-addon $
                          %input#homePrice.form-control{type: "number", placeholder: 500000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "timeToRepay"} Time to repay
                        .input-group
                          %input#timeToRepay.form-control{type: "number", placeholder: 10, step: "1"}
                          %span.input-group-addon years
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "interestRate"} Interest Rate
                        .input-group
                          %input#interestRate.form-control{type: "number", placeholder: 4.5, step: "0.1"}
                          %span.input-group-addon %
                      .col-sm-4
                        %label.control-label{for: "paymentFrequency"} Payment Frequency
                        %select#paymentFrequency.form-control
                          %option Weekly
                          %option Fortnightly
                          %option Monthly
                      .col-sm-4
                        %label.control-label{for: "repaymentType"} Repayment Type
                        %select#repaymentType.form-control
                          %option Principal & interest
                          %option Interest only
                    #advanced-options.collapse
                      %hr
                      .form-group
                        .col-sm-4
                          %label.control-label{for: "extraPayments"} Extra Payments
                          .input-group
                            %span.input-group-addon $
                            %input#extraPayments.form-control{type: "number", placeholder: 100, step: "10"}
                        .col-sm-4
                          %label.control-label{for: "initialPayments"} Initial mn Repayments
                          .input-group
                            %span.input-group-addon $
                            %input#initialPayments.form-control{type: "number", placeholder: 1000, step: "100"}
                        .col-sm-4
                          %label.control-label{for: "loanType"} Loan Type
                          %select#loanType.form-control
                            %option Variable
                            %option Fixed
                            %option Introductory
                      #intro-loan.form-group
                        .col-sm-4.col-sm-offset-4
                          %label.control-label{for: "introRate"} Intro Rate
                          .input-group
                            %input#introRate.form-control{type: "number", placeholder: 3.5, step: "0.1"}
                            %span.input-group-addon %
                        .col-sm-4
                          %label.control-label{for: "introTerm"} Intro Term
                          .input-group
                            %input#introTerm.form-control{type: "number", placeholder: 24, step: "1"}
                            %span.input-group-addon months
                    .row
                      .col-sm-4.col-xs-6
                        %a.btn.btn-primary.btn-block Calculate
                      .col-sm-4.col-sm-offset-4.col-xs-6
                        %a.btn.btn-default.form-control Advanced options

              #calculator-3.tab-pane.fade
                .row
                  .col-sm-12
                    %legend Third Calculator
                    %p
                      %strong Note: This calculator is a placeholder.
                %form.form-horizontal
                  %fieldset
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "iAmAn"} I am an
                        %select#iAmAn.form-control
                          %option Owner/Occupier
                          %option Investor
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "borrowAmount"} Amount to borrow
                        .input-group
                          %span.input-group-addon $
                          %input#borrowAmount.form-control{type: "number", placeholder: 200000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "homePrice"} Home Price
                        .input-group
                          %span.input-group-addon $
                          %input#homePrice.form-control{type: "number", placeholder: 500000, step: "10000"}
                      .col-sm-4
                        %label.control-label{for: "timeToRepay"} Time to repay
                        .input-group
                          %input#timeToRepay.form-control{type: "number", placeholder: 10, step: "1"}
                          %span.input-group-addon years
                    .form-group
                      .col-sm-4
                        %label.control-label{for: "interestRate"} Interest Rate
                        .input-group
                          %input#interestRate.form-control{type: "number", placeholder: 4.5, step: "0.1"}
                          %span.input-group-addon %
                      .col-sm-4
                        %label.control-label{for: "paymentFrequency"} Payment Frequency
                        %select#paymentFrequency.form-control
                          %option Weekly
                          %option Fortnightly
                          %option Monthly
                      .col-sm-4
                        %label.control-label{for: "repaymentType"} Repayment Type
                        %select#repaymentType.form-control
                          %option Principal & interest
                          %option Interest only
                    #advanced-options.collapse
                      %hr
                      .form-group
                        .col-sm-4
                          %label.control-label{for: "extraPayments"} Extra Payments
                          .input-group
                            %span.input-group-addon $
                            %input#extraPayments.form-control{type: "number", placeholder: 100, step: "10"}
                        .col-sm-4
                          %label.control-label{for: "initialPayments"} Initial mn Repayments
                          .input-group
                            %span.input-group-addon $
                            %input#initialPayments.form-control{type: "number", placeholder: 1000, step: "100"}
                        .col-sm-4
                          %label.control-label{for: "loanType"} Loan Type
                          %select#loanType.form-control
                            %option Variable
                            %option Fixed
                            %option Introductory
                      #intro-loan.form-group
                        .col-sm-4.col-sm-offset-4
                          %label.control-label{for: "introRate"} Intro Rate
                          .input-group
                            %input#introRate.form-control{type: "number", placeholder: 3.5, step: "0.1"}
                            %span.input-group-addon %
                        .col-sm-4
                          %label.control-label{for: "introTerm"} Intro Term
                          .input-group
                            %input#introTerm.form-control{type: "number", placeholder: 24, step: "1"}
                            %span.input-group-addon months
                    .row
                      .col-sm-4.col-xs-6
                        %a.btn.btn-primary.btn-block Calculate
                      .col-sm-4.col-sm-offset-4.col-xs-6
                        %a.btn.btn-default.form-control Advanced options
            .row{style: "margin-top: 12px;"}
              .col-xs-6.fine-print
                %small
                  %a{tabindex: "0", role: "button", data-toggle: "popover", data-trigger: "focus", data-placement: "top", title: "This is the disclaimer", data-content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel optio voluptatibus blanditiis pariatur quo impedit ducimus rem necessitatibus, ab dignissimos aspernatur molestiae quae harum minima expedita nisi, sed officia ipsa."} Disclaimer
                %small
                  %a{tabindex: "0", role: "button", data-toggle: "popover", data-trigger: "focus", data-placement: "top", title: "Our assumptions", data-content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel optio voluptatibus blanditiis pariatur quo impedit ducimus rem necessitatibus, ab dignissimos aspernatur molestiae quae harum minima expedita nisi, sed officia ipsa."} Assumptions
              .col-xs-6.action-icons.text-right
                %a{href: "#", data-toggle: "tooltip", data-placement: "top", title: "Share"}
                  %span.fa.fa-share
                %a{href: "#", data-toggle: "tooltip", data-placement: "top", title: "Print"}
                  %span.fa.fa-print
                %a{href: "#", data-toggle: "tooltip", data-placement: "top", title: "Email"}
                  %span.fa.fa-envelope-o
                %a{href: "#", data-toggle: "tooltip", data-placement: "top", title: "Like on Facebook"}
                  %span.fa.fa-facebook

      .row
        .col-sm-12.text-center
          %small
            %p Powered by <a href="http://www.ratecity.com.au/home-loans/mortgage-calculator" style="color: #1aac41;">RateCity</a>
            %a{data-toggle: "collapse", data-target: "#colour-controls", style: "color: #ddd; margin-bottom: 12px;"}
              %span.fa.fa-paint-brush.row-mb
      #colour-controls.collapse
        .row.row-mb
          .col-sm-4
            .colour-box
              %a.btn.btn-block.btn-red Red
          .col-sm-4
            .colour-box
              %a.btn.btn-block.btn-purple Purple
          .col-sm-4
            .colour-box
              %a.btn.btn-block.btn-blue Blue

    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{src: "js/calculator.js"}
    %script{src: "http://code.highcharts.com/highcharts.js"}
